[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "climdex.pcic"]
	path = climdex.pcic
	url = https://github.com/pacificclimate/climdex.pcic
[submodule "ncdf4.helpers"]
	path = ncdf4.helpers
	url = https://github.com/pacificclimate/ncdf4.helpers
[submodule "udunits2"]
	path = udunits2
	url = https://github.com/pacificclimate/rudunits2
